*.o
*.a
*.so
tests/CMakeFiles/*
*.swp
CMakeFiles
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
Makefile
build
*.pem
*.dat


*log.txt
*dialogue.txt

unit_test
file_server
file_client
echo_client
echo_server
air_client
air_server
